<!--The whole content below can be removed with the new code.-->
<div id="container">
    <table id="list" class="table table-striped">
        <thead>
        <tr>
            <th style="width:5%">#</th>
            <th>Item name</th>
            <th style="width:5%">remove</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items; index as i">
            <td>{{i+1}}</td>
            <td><input #name (keyup)="update(i, name.value)" class="form-control" value="{{item.name}}" placeholder="Item name"></td>
            <td>
                <button (click)="remove(i)" type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"
                                                                    aria-hidden="true"></span></button>
            </td>
        </tr>
        <tr>
            <td>{{items.length+1}}</td>
            <td><input #item class="form-control" value="" placeholder="Item name"></td>
            <td>
                <button (click)="add(item.value); item.value=''" class="btn btn-success">add item</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>